<div><%= link_to "Estrategias de riesgo", risk_strategies_path, :class => "ajax" %></div>
<div><%= link_to "Tipos de tarea", task_types_path, :class => "ajax" %>                  </div>
<div><%= link_to "Prioridades Accion", action_priorities_path, :class => "ajax" %>    </div>
<div><%= link_to "Tipos de fuente Accion", action_source_types_path, :class => "ajax" %></div>
<div><%= link_to "Estados Accion", action_states_path, :class => "ajax" %>               </div>
<div><%= link_to "Estados proyecto", project_states_path, :class => "ajax" %>            </div>
<div><%= link_to "Tipos empresa", company_types_path, :class => "ajax" %>                </div>
<div><%= link_to "Impactos de riesgo", risk_impacts_path, :class => "ajax" %>            </div>
<div><%= link_to "Probabilidades de riesgo", risk_probabilities_path, :class => "ajax" %></div>
<div><%= link_to "Exposiciones de riesgos", risk_expositions_path, :class => "ajax" %>  </div>
<div><%= link_to "Estados de riesgo", risk_states_path, :class => "ajax" %>           </div>
<div><%= link_to "Estados de tarea", task_states_path, :class => "ajax" %>               </div>
<div><%= link_to "Tipos de tarea", task_types_path, :class => "ajax" %>                 </div>
<div><%= link_to "Prioridades Problema", problem_priorities_path, :class => "ajax" %>    </div>
<div><%= link_to "Severidades Problema", problem_severities_path, :class => "ajax" %>   </div>
<div><%= link_to "Estados Problema", problem_states_path, :class => "ajax" %>            </div>
