<%= render "shared/error_messages", :target => @user %>

<%= render "shared/control_buttons", :locals => { :instance => @user } %>

<div class="clear"></div>

<div class="gray_form">
  <%= simple_form_for(@user) do |f| %>

      <div class="inputs">
        <%= f.input :email, :input_html => {:disabled => !current_user.role.admin_or_more?} %>
        <%= f.association :role, :input_html => {:disabled => !current_user.role.admin_or_more?, :class => "ajax_dropdown", "data-url" => "/users/ajax_display_view_projects", "data-parameter" => "user[role_id]"} %>

        <%= f.input :name %>
        <%= f.input :last_name %>
        <%= f.input :mother_last_name %>

        <%= f.association :company, :collection => collection_with_actual(Company.actives, @user.company), :input_html => {:disabled => !current_user.role.admin_or_more?} %>
        <%= f.association :state, :input_html => {:disabled => !current_user.role.admin_or_more?} %>

        <%= f.input :work_phone %>
        <%= f.input :cell_phone %>
        <%= f.association :city, :collection => collection_with_actual(City.actives, @user.city) %>

      </div>

      <%= render "shared/submit_form_model", :model_class => User %>

  <% end %>
</div>


