<%= render "shared/error_messages", :target => @user %>

<%= render "shared/control_buttons", :locals => { :model_class => User } %>

<div class="clear"></div>

<div class="gray_form">
  <%= simple_form_for(@user) do |f| %>
      <div class="inputs">
        <%= f.input :email %>
        <%= f.association :role, :input_html => {:class => "ajax_dropdown", "data-url" => "/users/ajax_display_view_projects", "data-parameter" => "user[role_id]"} %>

        <%= f.input :name %>
        <%= f.input :last_name%>
        <%= f.input :mother_last_name %>

        <%= f.association :company, :collection => Company.actives %>
        <%= f.association :state, :input_html => {:disabled => creating?} %>
        <%= f.input :state_id, :as => :hidden if creating? %>

        <%= f.input :work_phone %>
        <%= f.input :cell_phone %>
        <%= f.association :city, :collection => City.actives %>

      </div>

      <%= render "shared/submit_form_model", :model_class => User %>

  <% end %>
</div>







