<%= render "shared/control_buttons", :locals => {:instance => @customer} %>

<table class="show_table">
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.name") %>:</b></td>
    <td class="td_data"><%= @customer.name %></td>
  </tr>
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.phone") %>:</b></td>
    <td class="td_data"><%= @customer.phone %></td>
  </tr>
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.email") %>:</b></td>
    <td class="td_data"><%= @customer.email %></td>
  </tr>
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.address") %>:</b></td>
    <td class="td_data"><%= @customer.address %></td>
  </tr>
</table>
