<%= render 'shared/pagination', :locals => {:target => @quotations, :model_index_path => quotations_path, :form_id => "per_page_change_form_top", :on_change => "mergeForms('per_page_change_form_top')".html_safe} %>

<%= render "shared/control_buttons", :locals => { :model_class => Quotation } %>

<div class="toggle_container">
	<div class="block">

<%= simple_form_for(@search, :html => {:name => "filter_form"}) do |f| %>
    <%= f.error_notification %>
        <%= f.input :name_contains, :label => t("simple_form.labels.name") %>
            <%= f.input :observations_contains, :label => t("simple_form.labels.observations") %>
        <%= render "shared/submit_form_filter" %>
<% end %>

    </div>
</div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
                        <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :name, t("simple_form.labels.name") %></th>
                                <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :observations, t("simple_form.labels.observations") %></th>
                <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>
  </tr>

  <% @quotations.each do |quotation| %>
  <tr class=<%= cycle("alternate-row", "") %>>
                      <td><%= quotation.name %></td>
                              <td><%= quotation.observations %></td>
            <%= render 'shared/action_icons', :locals => {:target => quotation, :model_edit_path => edit_quotation_path(quotation)} %>
  </tr>
  <% end %>
</table>

<%= render 'shared/pagination', :locals => {:target => @quotations, :model_index_path => quotations_path, :form_id => "per_page_change_form_bottom", :on_change => "mergeForms('per_page_change_form_bottom')".html_safe} %>

<%= render "shared/control_buttons", :locals => { :model_class => Quotation, :no_filter => true } %>


