<%= render "shared/control_buttons", :locals => {:instance => @implementation} %>

<table class="show_table">
  <tr>
            <td class="td_label"><b><%= t("simple_form.labels.planned_progress") %>:</b></td>
                            <td class="td_data"><%= @implementation.planned_progress %></td>
              </tr>
  <tr>
            <td class="td_label"><b><%= t("simple_form.labels.real_progress") %>:</b></td>
                            <td class="td_data"><%= @implementation.real_progress %></td>
              </tr>
</table>
