<%= render 'shared/pagination', :locals => {:target => @news_items, :model_index_path => news_items_path, :form_id => "per_page_change_form_top", :on_change => "mergeForms('per_page_change_form_top')".html_safe} %>

<%= render "shared/control_buttons", :locals => { :model_class => NewsItem } %>

<div class="toggle_container">
	<div class="block">

<%= simple_form_for(@search, :html => {:name => "filter_form"}) do |f| %>
    <%= f.error_notification %>
        <%= f.input :title_contains, :label => t("simple_form.labels.title") %>
            <%= f.input :description_contains, :label => t("simple_form.labels.description") %>
                            <%= f.input :user_id_equals, :label => t("simple_form.labels.user"), :as => :select, :collection => User.all %>
                                    <%= f.input :project_id_equals, :label => t("simple_form.labels.project"), :as => :select, :collection => Project.all %>
                <%= render "shared/submit_form_filter" %>
<% end %>

    </div>
</div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
                        <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :title, t("simple_form.labels.title") %></th>
                                <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :description, t("simple_form.labels.description") %></th>
                                <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :user_name, t("simple_form.labels.user") %></th>
                                <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :project_name, t("simple_form.labels.project") %></th>
                <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>
  </tr>

  <% @news_items.each do |news_item| %>
  <tr class=<%= cycle("alternate-row", "") %>>
                      <td><%= news_item.title %></td>
                              <td><%= news_item.description %></td>
                              <td><%= news_item.user.try(:name) %></td>
                              <td><%= news_item.project.try(:name) %></td>
            <%= render 'shared/action_icons', :locals => {:target => news_item, :model_edit_path => edit_news_item_path(news_item)} %>
  </tr>
  <% end %>
</table>

<%= render 'shared/pagination', :locals => {:target => @news_items, :model_index_path => news_items_path, :form_id => "per_page_change_form_bottom", :on_change => "mergeForms('per_page_change_form_bottom')".html_safe} %>

<%= render "shared/control_buttons", :locals => { :model_class => NewsItem, :no_filter => true } %>


