<%= render "devise/shared/error_messages", :target => resource %>

<div id="loginbox">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <!--  start login-inner -->
    <div id="login-inner">


      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th><%= f.label :email %></th>

          <td><%= f.email_field :email, :class => "login-inp" %></td>
        </tr>
        <tr>
          <th><%= f.label :password, t("simple_form.labels.password") %></th>
          <td><%= f.password_field :password, :class => "login-inp", :onfocus=>"this.value=''" %></td>
        </tr>
        <tr>
          <th></th>
          <td valign="top">
            <% if devise_mapping.rememberable? -%>
                <p><%= f.check_box :remember_me, :class => "checkbox-size" %> <%= f.label :remember_me, t("screens.labels.remember_me") %></p>
            <% end -%>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "Sign in", :class => "submit-login" %> </td>
        </tr>
      </table>
    </div>

    <!--  end login-inner -->
    <div class="clear"></div>
    <%= render :partial => "devise/shared/links" %>
<% end %>

</div>

