<div class="gray_form">

  <%= nested_form_for @accion do |f| %>

      <%= f.hidden_field :project_id, :value => session[:actual_project] %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div class="float_field">
        <%= f.label :title, t("simple_form.labels.title") %>
        <br/>
        <%= f.text_field :title %>
      </div>
      <div class="float_field">
        <%= f.label :description, "Descripcion" %>
        <br/>
        <%= f.text_area :description, :rows => 4, :cols => 30 %>
      </div>
      <div class="float_field">
        <%= f.label :commitment_date, "Fecha Compromiso" %>
        <br/>
        <%= f.text_field :commitment_date, :size => "15", :class => 'datepicker' %>
      </div>

      <div class="float_field">
        <%= f.label :responsible_user_id, "Responsable" %>
        <br/>
        <%= collection_select("accion", "responsible_user_id", User.assigned_to_project(session["actual_project"]), :id, :full_name, {:include_blank => true}) %>
      </div>

      <div class="float_field">
        <%= f.label :action_state_id, "Estado" %>
        <br/>
        <%= collection_select("accion", "action_state_id", ActionState.all, :id, :name, {:include_blank => true}) %>
      </div>

      <div class="float_field">
        <%= f.label :action_priority_id, "Prioridad" %>
        <br/>
        <%= collection_select("accion", "action_priority_id", ActionPriority.all, :id, :name, {:include_blank => true}) %>
      </div>

      <div class="float_field">
        <%= f.label :action_source_type_id, "Fuente" %>
        <br/>
        <%= collection_select("accion", "action_source_type_id", ActionSourceType.all, :id, :name, {:include_blank => true}, {:class => "ajax_dropdown", "data-url" => "/accions/ajax_display_risk_or_problem", "data-parameter" => "accion[action_source_type_id]"}) %>
      </div>

      <div id="problem_or_risk" class="float_field">
        <% if  @accion.action_source_type.try(:name) == "Problema" %>
            <%= f.label :problem_id, "Problema" %>
            <br/>
            <%= collection_select('accion', 'problem_id', Problem.all, :id, :name, {:include_blank => true}) %>
            <%= f.hidden_field :risk_id %>
        <% elsif @accion.action_source_type.try(:name) == "Riesgo" %>
            <%= f.label :risk_id, "Riesgo" %>
            <br/>
            <%= collection_select('accion', 'risk_id', Risk.all, :id, :name, {:include_blank => true}) %>
            <%= f.hidden_field :problem_id %>
        <% end %>
      </div>

      <div class="clear"></div>


      <br/><h1></h1><hr><br/>

      <table border=1 width="800" style="/*background-color:#daa520;*/ margin:0px; padding:0px;">
        <tr>
          <th width="200" align="center">Recurso</th>
          <th width="200" align="center">Fecha seguimiento</th>
          <th width="250" align="center"><%= t("simple_form.labels.description") %></th>
          <th width="150" align="center"></th>
        </tr>

        <tr>
          <td colspan="4">
            <%= f.fields_for :action_trackings do |action_trackings_form| %>
                <table border=0 width="800" cellpadding="0" cellspacing="0" style="/*display:inline; float:left; background-color:#ffebcd;*/ margin:0px; padding:0px">
                  <tr>
                    <td width="200" align="center"><%= action_trackings_form.select :user_id, Project.find(session["actual_project"]).users.collect { |p| [p.name + " " + p.last_name, p.id] }, {:include_blank => true} %></td>
                    <td width="200" align="center"><%= action_trackings_form.text_field :tracking_date, :size => "15", :class => 'datepicker' %></td>
                    <td width="250" align="center"><%= action_trackings_form.text_area :description, :rows => 4, :cols => 30 %></td>
                    <td width="150" align="center"><%= action_trackings_form.link_to_remove "Borrar seguimiento" %></td>
                  </tr>
                </table>
            <% end %>

            <p style="margin:10px 0 20px 20px"><%= f.link_to_add "Agregar seguimiento", :action_trackings %></p>
          </td>
        </tr>
      </table>

      <br/>

      <p><%= f.submit %></p>
  <% end %>

</div>



