<%
  edit_pass_url_var = edit_password_url(@resource, :host => HOST, :reset_password_token => @resource.reset_password_token)
%>
<% if @resource.sign_in_count == 0 %>
    <p><%= t("mails.hello", :name => @resource.full_name) %>!</p>

    <p><%= t("mails.user_created") %></p>

    <p><%= link_to t("mails.setup_password"), edit_pass_url_var %></p>

    <p><%= t("mails.link_not_working") %>:</p>
    <p><%= edit_pass_url_var.to_s %></p>

<% else %>

    <p><%= t("mails.hello", :name => @resource.full_name) %>!</p>

    <p><%= t("mails.someone_requested_link") %>.</p>

    <p><%= link_to t("mails.change_my_password"), edit_pass_url_var %></p>

    <p><%= t("mails.link_not_working") %>:</p>
    <p><%= edit_pass_url_var.to_s %></p>

    <p><%= t("mails.you_didnt_requested") %>.</p>
    <p><%= t("mails.your_password_wont_change") %>.</p>

<% end %>
