<%= render "shared/control_buttons", :locals => {:instance => @product} %>

<table class="show_table">
  <tr>
            <td class="td_label"><b><%= t("simple_form.labels.name") %>:</b></td>
                <td class="td_data"><%= @product.name %></td>
      </tr>
  <tr>
            <td class="td_label"><b><%= t("simple_form.labels.description") %>:</b></td>
                <td class="td_data"><%= @product.description %></td>
      </tr>
</table>
