<%= render "shared/control_buttons", :locals => {:instance => @product} %>

<table class="show_table">
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.code") %>:</b></td>
    <td class="td_data"><%= @product.code %></td>
  </tr>
  <tr>
    <td class="td_label"><b><%= t("simple_form.labels.name") %>:</b></td>
    <td class="td_data"><%= @product.name %></td>
  </tr>
</table>
