<%= render "shared/error_messages", :target => @task_state %>

<div class="controls">
  <% if can? :read, @task_state %>
      <%= link_to t("helpers.link.show"), @task_state %>
  <% end %>
  <%= link_to t("helpers.link.list"), task_states_path %>
</div>
<div class="clear"></div>

<%= render 'form' %>

<div class="controls">
  <% if can? :read, @task_state %>
      <%= link_to t("helpers.link.show"), @task_state %>
  <% end %>
  <%= link_to t("helpers.link.list"), task_states_path %>
</div>