<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/stylesheets/application.css?1304578978" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/scaffold.css?1304578978" media="screen" rel="stylesheet" type="text/css"/>



  <!-- https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js -->
  <%= javascript_include_tag "jquery-1.7.1.min", "application", "rails", "nested_form", "highcharts", "gray" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min", "jquery.ui.datepicker-es", "jquery.maskMoney", "jquery.dateMask", "facebox", "fullcalendar", "jquery.multiselect", "jquery.multiselect.filter", "jsgantt", "jquery.contextMenu", "mbExtruder", "jquery.hoverIntent.min", "jquery.metadata", "jquery.mb.flipText" %>


  <% if user_signed_in? %>
      <title>Printland</title>


      <%= stylesheet_link_tag "smoothness/jquery-ui-1.8.16.custom.css", "fullcalendar", "jquery.multiselect", "jquery.multiselect.filter", "jsgantt", "jquery.contextMenu", "mbExtruder" %>
      <link rel="stylesheet" href="/stylesheets/skin1/css/screen.css" type="text/css" media="screen" title="default"/>
      <link href="/stylesheets/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
      <!--[if IE]>
      <link rel="stylesheet" media="all" type="text/css" href="/stylesheets/skin1/css/pro_dropline_ie.css"/>
      <![endif]-->


       <script type="text/javascript">
          $(document).ready(function() {
              $("#extruderTop").buildMbExtruder({
                  positionFixed:true,
                  position:"left",
                  width:250,
                  extruderOpacity:1,
                  flapMargin:100,
                  autoCloseTime:500,
                  autoOpenTime:150,
                  closeOnExternalClick:true,
                  accordionPanels:true,
                  hidePanelsOnClose:false,
                  <%= raw menu %> //CUIDADO!!!! DEBE SER LLAMADO "menu" ANTES QUE "menuItems" SINO NO REFRESCA EL ACTUAL PROJECT
                  <%= raw menuItems %>

                  onExtOpen:function() {
                  },
                  onExtContentLoad:function() {
                  },
                  onExtClose:function() {
                  }
              });
          });

          //intento para hacerle click on dom ready a los menues asi ya quedan abiertos
          //$(document).ready(function() {
          //    alert($(".voice")[0]);
          //    $(".voice")[0].click();
          //});

      </script>

      <!--  styled file upload script -->

      <script src="/stylesheets/skin1/js/jquery/jquery.filestyle.js" type="text/javascript"></script>
      <script type="text/javascript" charset="utf-8">
          $(function() {
              $("input.file_1").filestyle({
                  image: "images/forms/choose-file.gif",
                  imageheight : 21,
                  imagewidth : 78,
                  width : 310
              });
          });
      </script>


      <!-- Custom jquery scripts -->
      <script src="/stylesheets/skin1/js/jquery/custom_jquery.js" type="text/javascript"></script>


      <!-- Tooltips -->
      <script src="/stylesheets/skin1/js/jquery/jquery.tooltip.js" type="text/javascript"></script>
      <!-- esto rompe con el multiselect.list.js
      <script src="/stylesheets/skin1/js/jquery/jquery.dimensions.js" type="text/javascript"></script>
      -->
      <script type="text/javascript">
          $(function() {
              $('a.info-tooltip ').tooltip({
                  track: true,
                  delay: 0,
                  fixPNG: true,
                  showURL: false,
                  showBody: " - ",
                  top: -35,
                  left: 5
              });
          });
      </script>



      <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
      <script src="/stylesheets/skin1/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
      <script type="text/javascript">
          $(document).ready(function() {
              $(document).pngFix();
          });
      </script>

   <%= csrf_meta_tag %>


  <% else %>
      <title>Login</title>
      <link rel="stylesheet" href="/stylesheets/skin1/css/screen.css" type="text/css" media="screen" title="default"/>
      <!--  jquery core -->
      <script src="/stylesheets/skin1/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

      <!-- Custom jquery scripts -->
      <script src="/stylesheets/skin1/js/jquery/custom_jquery.js" type="text/javascript"></script>

      <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
      <script src="/stylesheets/skin1/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>

      <script type="text/javascript">
          $(document).ready(function() {
              $(document).pngFix();
          });
      </script>

  <% end %>

</head>
